<!DOCTYPE html>
<html>
{% load static %}
{#{% load media %}#}
<head>
    <!-- <script src="static/js/p5.js"></script> -->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type = "text/babel" src="{% static 'js/pageMain/index.js' %}"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>
    <script  type="text/javascript" charset="utf-8" src="{% static 'js/ueditor.config.js' %}"></script>
    <script  type="text/javascript" charset="utf-8" src="{% static 'js/editor_api.js' %}"></script>
    <style type="text/css">
        .nite-writer-pen{
            background-color: lightgreen;
            border-radius: 5px;
            box-shadow: 0 0 10px lightgreen;
            font-style: normal;
        }
        .custom-underline{
            border-bottom: 1px solid #f00;
            font-style: normal;
        }
        .lineheight{
            background-color:blue;
        }
    </style>
</head>
<body>

</body>

</html>